body{
    background-color: darkblue !important;
    background-image: url('./assets/background.png');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    backdrop-filter: blur(5px);
}